################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssignmentNasa/obj
/.vs/slnx.sqlite
